.navbar {
    display: inline;
}


#logo {
    margin-left: 5%;
}

#logo-img {
    height: 25px;
    width: auto;
    display: inline;
}

#search {
    display: inline;
    padding: 30px;
    margin: 50px;
}

#search-bar {
    height: 30px;
    width: 50%;
    flex: 1;
    background-color: rgba(236, 236, 236, 0.959);
    border:none;
    font-size: 110%;
}

/* #submit-button {
    height: 30px;
    border:none;
    background-color:lightgrey;
} */

#talk-to-expert {
    background-color:red;
    color: white;
    border: 1px solid rgb(177, 11, 11);
    display:none;
    padding: 10px;
}

@media screen and (min-width: 950px) {
    #talk-to-expert { display: inline-block; }
}