.navbar {
    display: inline;
}


#logo {
    margin-left: 5%;
}

#logo-img {
    height: 30px;
    width: auto;
    display: inline;
}

#search {
    display: inline;
    padding: 30px;
    margin: 50px;
}

#search-bar {
    height: 30px;
    min-width: 1000px;
    background-color: rgba(236, 236, 236, 0.959);
    border:none;
    font-size: 110%;
}

/* #submit-button {
    height: 30px;
    border:none;
    background-color:lightgrey;
} */

#talk-to-expert {
    background-color:red;
    color: white;
    border: 1px solid rgb(177, 11, 11);
    display:inline-block;
    overflow: hidden; /* what does this even do */
}