button:hover,
button:focus,
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}

text {
    font-family: myriad-pro,"Myriad Pro","Open Sans",Arial,sans-serif;
}

.welcome {
    background: linear-gradient(purple, rgb(219, 136, 219));
    /* background-image: url(dogs_1280p_0.jpeg); */
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: auto;
    margin-top: 10px;
}

#headerwelcome {
    color: white;
}

#whatsnew {
    background-color: inherit;
    color: white;
    border: 1px solid white;
}

#whatsnew:hover {
    color: rgb(228, 216, 216);
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: auto;
}

.headers {
    margin: 20px;
}

.app {
    margin: 200px;
    margin-top: auto;
}

